<h1> CONTACTS</h1>


<ul>
  <% contacts = Contact.all %>


  <% for contact in contacts %>
      <% company= Company.find_by("id"=> contact["company_id"]) %>
  
  
  

  <li> <%= contact["first_name"] + contact["last_name"] %> 
  @ <%= company["name"] %> </li>


  <% end %>

</ul>
