<h1> Tacos!</h1>

<p> There are so many delish tacos!</p>

<% fillings = ["Carnitas","Pescado","Al Pastor", "Avocado" , "Mushroom"]%>


<ul>
  <% for filling in fillings%>
  <li> <%= filling%></li>
  
  <% end %>
</ul>